.button-index {
    background-color: #d7e9ff;
    border-radius: 100px;
    box-shadow: rgba(20, 60, 120, 0.20) 0 -25px 18px -14px inset,
        rgba(30, 144, 255, 0.15) 0 1px 2px,
        rgba(30, 144, 255, 0.15) 0 2px 4px,
        rgba(30, 144, 255, 0.15) 0 4px 8px;
    color: #0b4fa8;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-index:hover {
    box-shadow: rgba(30, 144, 255, 0.35) 0 -25px 18px -14px inset,
        rgba(30, 144, 255, 0.25) 0 1px 2px,
        rgba(30, 144, 255, 0.25) 0 2px 4px,
        rgba(30, 144, 255, 0.25) 0 4px 8px;
    transform: scale(1.05) rotate(-1deg);
}

.button-test {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 24px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-test:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}