# --- DATOS DE BDD
DB_HOST=localhost
DB_PORT=3306
DB_NAME=tfg_talf
DB_USER=root
DB_PASS=

# --- API KEY DE GEMINI ---
GEMINI_API_KEY=AIzaSyDuqXYGPJXlMMb4EloI8lIA29N-jWqPrgA
GEMINI_MODEL=gemini-1.5-flash
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta

# --- RUTA AL BINARIO DE OCTAVE ---
OCTAVE_BIN=

COOKIE_VALIDATION_KEY=

# --- Entorno Yii (dev / prod) ---
YII_DEBUG=true
YII_ENV=dev